section#about.about
            .container
                .row
                    .about__item
                        h6.sub-title ABOUT US
                        h3.big-title One-Stop Shop For Everything Interiors
                        p
                        a(href='#')
                            | Read More
                            i.fa.fa-arrow-right
                    .about__item
                        .row
                            .about__img
                                img(src='./css/img/ab.jpg', alt='about image 1')
                            .about__img
                                img(src='./css/img/ab1.jpg', alt='about image 2')