section.comment
            .container
                h6.sub-title HERE&rsquo;S WHAT THEY HAVE TO SAY
                h3.big-title Our Clients Do The Talking
                p
                input#comment_1(type='radio', name='comment_radio')
                input#comment_2(type='radio', name='comment_radio')
                input#comment_3(type='radio', name='comment_radio')
                input#comment_4(type='radio', name='comment_radio')
                .comment__wraper
                    .comment__item
                        blockquote.comment__content
                            i.fa.fa-quote-left
                            p
                                | I have been married for 5 years, but now I have the opportunity to remodel the family's living room. 
                                | At first, I was very confused because I didn't know which party to choose, but my sister at the agency introduced Web35Pro to me. 
                                | I really like the enthusiasm of the Web35Pro staff who guided and advised me thoroughly because in fact, both husband and wife are office workers, so they have little experience in this. 
                                | Now the family has a very nice and satisfied living room. Thank you Web35Pro.
                        .comment__user
                            img(src='./css/img/c1.jpg', alt='user1')
                            h4 Van Khiem
                    .comment__item
                        blockquote.comment__content
                            i.fa.fa-quote-left
                            p
                                | I am constantly busy with work. When deciding to choose Web35Pro just because I went to the store and saw a suitable display of furniture, I asked for advice. 
                                | And from there I decided to choose because the price is also reasonable with the quality of the product.
                        .comment__user
                            img(src='./css/img/c2.jpg', alt='user2')
                            h4 Thai Ha
                    .comment__item
                        blockquote.comment__content
                            i.fa.fa-quote-left
                            p
                                | Meeting Web35Pro at the handover ceremony, was convinced by the explanation to help homeowners understand why the table is so expensive? 
                                | Why is this material higher than the other? And that's why I choose Web35Pro to design and build houses.
                        .comment__user
                            img(src='./css/img/c3.jpg', alt='user3')
                            h4 Viet Duc
                    .comment__item
                        blockquote.comment__content
                            i.fa.fa-quote-left
                            p
                                | His nephew introduced me to Web35Pro. Very satisfied with the advice of Mr. Thien. Building a house not only looks at the present but also looks to the future. 
                                | Not only a place to stay, but also a place to enjoy. Thanks Web35Pro. I like it very much.
                        .comment__user
                            img(src='./css/img/c4.jpg', alt='user4')
                            h4 Ngoc Huong
                .comment__dots
                    label(for='comment_1')
                    label(for='comment_2')
                    label(for='comment_3')
                    label(for='comment_4')