section#service.offer
            .container
                .row
                    .offer__item
                        img(src='./css/img/g3.jpg', alt='')
                    .offer__item
                        h6.sub-title WHAT WE DO
                        h3.big-title What We Offer For You
                        p
                            | To be able to choose the perfect beautiful furniture for the family does not seem to be an easy task
                        ul
                            li
                                i.fa.fa-check
                                | Full home interiors
                            li
                                i.fa.fa-check
                                | Modular solutions
                            li
                                i.fa.fa-check
                                | Catalogue products
                            li
                                i.fa.fa-check
                                | Installation